[submodule "lib/love3d"]
	path = lib/love3d
	url = https://github.com/excessive/love3d
[submodule "lib/cpml"]
	path = lib/cpml
	url = https://github.com/excessive/cpml
[submodule "lib/iqm"]
	path = lib/iqm
	url = https://github.com/excessive/iqm
[submodule "lbi/anim9"]
	path = lib/anim9
	url = https://github.com/excessive/anim9
